@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	font-family:"微软雅黑";}
::-webkit-scrollbar-track{border-radius: 10px;-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);}/*滚动条的滑轨背景颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.05);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}/*滑块颜色*/
::-webkit-scrollbar-thumb{background-color: rgba(0,0,0,0.2);border-radius: 10px;-webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);}
::-webkit-scrollbar{width: 16px;height: 16px;}/* 滑块整体设置*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb{border-radius: 999px;border: 5px solid transparent;}
::-webkit-scrollbar-track{box-shadow: 1px 1px 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-thumb{min-height: 20px;background-clip: content-box;box-shadow: 0 0 0 5px rgba(0,0,0,.2) inset;}
::-webkit-scrollbar-corner{background: transparent;}/* 横向滚动条和纵向滚动条相交处尖角的颜色 */
@font-face {
	font-family: font01;
	src: url(../font/DATA-font01.TTF);
}
.admin_top{
	width: 100%;
	height: 13% ;
	background-color: #3e5577;
	z-index: 999;
}
.adminTopLogo{
	float: left;
	margin-left: 15px;
	margin-top: 20px;

}
.adminTopLogoText{
	color: #ffffff;
	font-size: 30px;

	font-family: font01;
	float: left;
	margin-top: 40px;
	margin-left: 10px;
}
.adminTopList{
	width: 50%;
	height: 34%;
	float: right;
	background-color: #30415f;
	/*margin-top: 8%;*/
	border-radius: 2px;
   top: 66%;
    position: relative;

}
.adminTopList ul{
	list-style: none;
	font-size: 14px;

}
.adminTopList ul li{
float: left;
	padding-top: 8px;
	/*margin-left: 2%;*/
	/*margin-right: 2%;*/
	padding-bottom: 11px;
	width: 16%;
	text-align: center;


}
.adminTopList ul li:hover{
	background-color: #415a83;
}
.adminTopList ul li a{
	text-decoration: none;
	color: #ffffff;
}
.listUl{

	list-style: none;

	display: none;
	z-index: 99999;
	position: relative;
	margin-top: 5px;
	background-color: #415a83;

}
.listUl li{

	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #30415f;
	/*padding-right: 5px;*/
	/*padding-left: 5px;*/
	float:none !important;
	width: 100% !important;


}
.listUl li:hover{
	background-color:#78a4eb !important ;
}
.div_iframe{
	width: 100%;
height: 87%;


}
.homeTop{
	float: right;
	margin-right: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.inputTop{
	color:#ffffff;
	font-size: 12px;
	border:1px solid #4a628e;
	border-radius: 2px;
	background-color: transparent;
	text-indent: 1em;

}
::-webkit-input-placeholder { /* WebKit browsers */
	color:    #A9A9A9;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #A9A9A9;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #A9A9A9;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #A9A9A9;
}
.homecon01{
	width: 98%;
margin-left: 1%;
	height: 100px;
	border:1px solid #4a628e;
	float: left;
}
.homecon01_left{
	width: 50%;
	position: absolute;
	border-right: 1px solid #313d57;
	height: 80px;
	margin-top: 10px;
}
.homeLeftTit{
	color: #ff9731;
	font-size: 22px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	font-weight: bold;
}
.homeLeftcon{
	font-size: 14px;
	color: #ffffff;
	float: left;


}
.homecon01_right{
	width: 50%;
	float: right;

	height: 80px;
	margin-top: 10px;
}
.homeRight{
	width: 76%;
	font-size: 14px;
	color: #ffffff;
float: left;
	margin-left: 3%;
}
.clear{
	clear: both;
}
.homeRight01{
	font-size: 14px;
	color: #ffffff;
	float: right;
	margin-right: 1%;
	width: 20%;

}
.homeRight01 p{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.home_a01{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
display: inline;
text-decoration: none;
border-radius: 3px;
background-color: #fe8939;
}
.home_a02{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #ffffff;
	display: inline;
	text-decoration: none;
	border-radius: 3px;
	background-color: #568ee1;
	}
.homecon02{
	width: 98%;
	margin-left: 1%;
	float: left;
	background-color: #405981;
	margin-top: 5px;
}
.homeH{
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.charP{
	width: 100%;


	border-bottom: 1px solid #313d57;
	padding-bottom: 10px;
	height: 300px;

}
.ifrmClass{
	margin-left: 0.5%;
}
.homeChartLeft{
	width: 49%;
	height: 300px;
	float: left;
	border-right: 1px solid #313d57;
}
.homeChartRight{
	width: 49%;
	height: 300px;
	float: right;
}
.homeTabel{
	width: 98%;
	margin-left: 1%;
	border-collapse: collapse;
	color: #ffffff;
	font-size: 12px;
	border:1px solid #eeeeee;
	margin-top: 15px;
}
.homeTabel tr{
	text-align: center;
	height: 45px;
}
.tr01{
	font-weight: bold;
}
.tabel_tab{
	width: 98%;
	margin-left: 1%;
	height: 30px;
	border-bottom: 1px solid #3e5577;

	font-size: 12px;
	line-height: 30px;
}
.tabel_tab a{
    text-decoration: none;
    color: #333333;
}
.tabel_tab a:hover{
    text-decoration: none;
}
.tablecon01{
	width: 98%;
	margin-left: 1%;
	height: 100px;
	background-color:#e5edf9;

	font-size: 12px;

}
.tablecon03{
    width: 98%;
    margin-left: 1%;

    background-color:#f9f5f5;

    font-size: 12px;
    border:1px solid #3e5577;

}
.table_p01{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.table_p01 a{
	text-decoration: none;
	color: #30415f;
	margin-right: 10px;
}
.tableAll{
	padding-left:3px;
	padding-right: 4px;
	padding-top: 2px;
	padding-bottom: 4px;
	display: inline-block;
	background-color: #30415f;
	color: #ffffff !important;
	margin-left: 20px;
}
.tablecon02{
	width: 98%;
	margin-left: 1%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.find_a{
	width: 30px;
	height: 30px;
	display: inline-block;
	text-decoration: none;
	background-image: url("../img/findBg01.png");
	position: relative;
	top:10px;

}
.find_a:active{
	background-image: url("../img/findBg.png");
}
.find_input{
	height: 30px;
	width: 230px;
   background-color: transparent;
    border:1px solid #cccccc;
}
.table_style{
	font-size: 12px;
}
.table_style01{
    font-size: 12px;
    background-color: #30415f;
    color: #ffffff;
    border:1px solid #3f5783 !important;
}
.table_style01 tr td{
    border:1px solid #3f5783 !important;

}
.tabel_tab01{
    width: 98%;
    margin-left: 1%;
    height: 30px;
    border-bottom: 1px solid #30415f;

    font-size: 12px;
    line-height: 30px;
    color: #ffffff;
}
.table02_con01{
    width: 98%;
    margin-left: 1%;
    font-size: 12px;
    color:#ffffff;
    border-bottom: 2px solid #30415f;

}
.table_findP{
    padding-top: 5px;
    padding-bottom: 5px;
}
.table_findP label{
    width: 8%;
    display: inline-block;
    text-align: right;
}
.table_findP a{
    text-decoration: none;
    color: #eeeeee;

    margin-right: 15px;

}
.table_findP01{
    padding-top: 5px;
    padding-bottom: 5px;
}
.table_findP01 label{
    width: 8%;
    display: inline-block;
    text-align: right;
}
.table_findP01 a{
    text-decoration: none;
    color: #333;

    margin-right: 15px;

}
.find_input01{
    width: 15%;
    height: 4%;
    background-color: transparent;
    border: 1px solid #76a6ee;
}
.find_input02{
    width: 38%;
    height: 4%;
    background-color: transparent;
    border: 1px solid #76a6ee;
}
.find_input03{
    top:3px;
    position: relative;
    background-color: transparent;
    border: 1px solid #76a6ee;
}
.find_button01{
    background-color: #76a6ee;
    padding-bottom: 4px;
padding-left: 6px;
  padding-top: 2px;
    padding-right: 7px;
    border:none;
    margin-left: 10px;
    color: #ffffff;
}
.find_button01:active{
    background-color: #0D8BBD;
}
.find_button01:hover{
    text-decoration: none;
    color: #ffffff;
}
.find_button{
    background-color: #76a6ee;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 9px;
    border:none;
    margin-right: 10px;
}
.find_button:active{
    background-color: #0D8BBD;
}
.find_span{
    float: right;
}
.add_button{
    background-color: #3f81e5;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 9px;
    border:none;
    margin-right: 10px;
}
.add_button:active{
    background-color: #0D8BBD;
}
.exit_button{
    background-color: #f88437;
    padding-bottom: 3px;
    padding-top: 3px;
    padding-left: 8px;
    padding-right: 9px;
    border:none;
}
.exit_button:active{
    background-color: #d58512;
}
.table-striped>tbody>tr:nth-of-type(odd){background-color:transparent !important;}
.table-hover>tbody>tr:hover{background-color:#76a5eb !important;cursor: pointer}
.more_find{
    float: right;
 }
.more_find a{
    color: #3f81e5;
}
#open{
    display: none;
}
.table_butcon{
    width: 98%;
    margin-left: 1%;
    padding-top: 10px;

}
.table_butcon a{
    margin-right: 10px;
    font-size: 12px;
}
.table_butcon a:hover{
    text-decoration: none;
}
.add_i{
    width: 14px;
    height: 14px;
    position: relative;
    background-image: url("../img/add_i.png");
    display: inline-block;
    top:2px;
}
.del_i{
    width: 14px;
    height: 14px;
    position: relative;
    background-image: url("../img/del_i.png");
    display: inline-block;
    top:2px;
}
.report_i{
    width: 14px;
    height: 14px;
    position: relative;
    background-image: url("../img/report_i.png");
    display: inline-block;
    top:2px;
}
.static_i{
    width: 14px;
    height: 14px;
    position: relative;
    background-image: url("../img/static_i.png");
    display: inline-block;
    top:2px;
}
.tableztree01{
    width: 100%;


}
.tableztree01 tr{
    border:1px solid #cccccc;
}
.tableztree01 td{
    border:1px solid #cccccc;
    text-indent: 2em;
}
.tableztree01 td:first-child{
    text-indent: 1px !important;
}
.tableztree01 a{
    text-decoration: none;
    margin-right: 10px;
    color: #1F547E;
}

.thead_tr{
    height: 30px;
    font-weight: bold;
    background-color: #d9edf7;
    font-size: 12px;
    text-indent: 2em;
}
.part_a{
    margin-right: 10px;
    float: right;
    padding-bottom: 2px;
    padding-top: 5px;
    text-decoration: none;
    color: #333333;
}
.paart_a01{
    float: left;

}
.part_page{
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
}
.part_page a{
    text-decoration: none;
    color: #333;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    border:1px solid #cccccc;
    margin-right: 8px;
}
.page_active{
    color: #000000;
    font-weight: bold;
}
.page_none{
    color: #999999 !important;
}
.rose_top{
    width: 99.8%;
    height: 30px;
    border:1px solid #76a5ed;
    margin-left: 0.1%;
    margin-top: 0.1%;
    background-color: #d5e1f4;
    line-height: 21px;
}
.rose_add{
    width: 99.8%;
    height: 30px;
    border:1px solid #76a5ed;
    margin-left: 0.1%;
    margin-top: 0.1%;
    background-color: #d5e1f4;
    font-size: 12px;
    line-height: 30px;
    padding-left: 5px;


}
.rose_add a{
    text-decoration: none;
    color: #1F547E;
    margin-right: 8px;
}
.rose_top a{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    text-decoration: none;
    color: #213357;
    border-top:1px solid #76a5ed;
    border-left:1px solid #76a5ed ;
    border-right:1px solid #76a5ed ;
    margin-left: 2px;
    margin-top: 2px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 12px;
    background-color: #eeeeee;
}
.rose_top a:hover{
    text-decoration: none;
    color: #213357;
}
.rose_topSpan{
    float: right;
    margin-right: 5px;
    padding-top: 4px;
}
.rose_findSpan{
    float: right;
}
.rose_input{
    width:200px;
    height: 24px;
    margin-top: 3px;
    text-indent: 1em;
    border-radius: 3px;
    border:1px solid #405981;
    background-color: transparent;
}
.rose_table{
    width: 99.8%;

    border:1px solid #76a5ed;
    margin-left: 0.1%;
    margin-top: 0.1%;

    font-size: 12px;
}

.table_style02{
    font-size: 12px;
}
.table_style02 th{
    background-color:#d5e1f4 ;
    font-weight: bold;

}
.table_style03{
    font-size: 12px;
}
.table_style03 th{
    background-color:#eeeeee ;
    font-weight: bold;
  padding-top: 2px !important;
    padding-bottom:2px !important;

}
.user_top{
    width: 100%;
    height: 5%;
    line-height: 250%;
    font-size: 12px;

}
.userTopLeft{
    width: 12%;
    float: left;
    text-align: center;
}
.userTopLeft a{
    text-decoration: none;
    color: #1F547E;

	margin-right: 20%;

}
.userTopRight{
    width: 88%;
    float: right;
}
.userTopRight label{
    color: #1F547E;
    margin-right: 5px;
}
.user_input{
    height:65% ;
    width: 14%;
    margin-right: 1%;
}
.user_radio{
    position: relative;
    top:2px;
    margin-right: 5px;
}
.user_con{
    width: 99.4%;
    height: 95%;
    font-size: 12px;
    margin-left: 0.3%;
}
.user_conLeft{
    width: 12%;
    float: left;
    text-align: center;
    height: 99.7%;
}

.user_conLeftTop{
    width: 100%;
    height: 3%;

}
.user_conLeftTop a{
    width: 50%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #1F547E;
    line-height: 150%;
    border-radius: 3px;
}
.active_bg{
    background-color: #eeeeee;
    font-weight: bold;
}
.user_ztree{
    width: 100%;
    height: 96.5%;
    margin-top: 0.5%;
    background-color: #ffffff;
	font-size: 12px;
	overflow: auto;
}
.user_conRight{
    width: 87.8%;
    float: right;
    margin-left: 0.1%;
    background-color: #ffffff;
    height: 99.5%;
}
.ztee_add{
	width: 16px;
	height: 16px;
	position: relative;
	display: inline-block;
	background-image: url("../img/tree_add.png");
	top:3px;
}
.ztee_del{
	width: 16px;
	height: 16px;
	position: relative;
	display: inline-block;
	background-image: url("../img/ztree_del.png");
	top:3px;
}
.user_tableBut{
	width: 100%;
	padding-top: 5px;
	background-color: #d6e4fa;
	padding-bottom: 3px;
}
.user_tableBut a{
	text-decoration: none;
	color: #1F547E;
	margin-right: 10px;
}
.user_add{
	width: 14px;
	height: 14px;
	position: relative;
	background-image: url("../img/user_add.png");
	display: inline-block;
	top:2px;
}
.user_del{
	width: 14px;
	height: 14px;
	position: relative;
	background-image: url("../img/user_del.png");
	display: inline-block;
	top:2px;
}
.user_model{
	width: 14px;
	height: 14px;
	position: relative;
	background-image: url("../img/user_m.png");
	display: inline-block;
	top:2px;
}
.user_export{
	width: 14px;
	height: 14px;
	position: relative;
	background-image: url("../img/user_exiport.png");
	display: inline-block;
	top:2px;
}
.map_con{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../img/map_bg.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.map_tool01{
	width: 150px;
	height: 150px;
	background-color: rgba(48,65,95,0.9);
	position: absolute;
	top:5px;
	left: 5px;
}
.map_tit{
	width: 140px;
	position: absolute;
	top:5px;
	left: 5px;
}
.map_tit01{
	width: 120px;
	height: 30px;
	top:20px;
	position: absolute;
	color: #ffffff;
	left: 15px;
	font-size: 12px;
}
.map_span01{
	float: left;
}
.map_span02{
	float: right;
}
.map_but{
	width: 100%;
	position: absolute;
	top:50px;
}
.map_but a{
	text-decoration: none;
	color: #ffffff;
	width: 48px;
	height: 48px;

	border:1px solid #ffffff;
	margin: 0px;
	float: left;
	text-align: center;
	line-height: 48px;
}
.map_active{
	background-color: #76a5e9;
}
.map_but a img{
	margin-top: 15px;
}
.map_tool02{
	width: 120px;

	background-color: rgba(48,65,95,0.9);
	position: absolute;
	top:5px;
	right: 5px;
	font-size: 12px;
}
.map_tool02 h3{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom:2px solid #000000;
	color: #ffffff;
}
.map_ul{
    margin: 0;
    list-style: none;
    font-size: 12px;
}
.map_ul li{
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom:1px solid #999;
    width: 90%;
    margin-left: 5%;
}
.map_ul li a{
    color: #ffffff;
    text-decoration: none;
}