<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <title></title>
    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link href="js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
</head>

<body>
    <table id="table" class="table_style" style="margin: 0 auto">
    </table>
    <script src="js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="js/bstable/js/bootstrap.min.js"></script>
    <script src="js/bstable/js/bootstrap-table.js"></script>
    <script src="js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
    <script type="text/javascript">
    $(function() {
        let url = decodeURI(window.location.search);
        let value;
        if (url.indexOf("?") != -1) {
            let strs = url.substr(1).split("&");
            value = new Array(strs.length);
            for (let i = 0; i < strs.length; i++) {
                value[i] = unescape(strs[i].split("=")[1]);
            }
        }
        let taskId = value[0];

        $('#table')
            .bootstrapTable({
                method: "get",
                url: "queryAssertResults",
                striped: true,
                dataType: "json",
                pagination: true, //分页
                cache: false,
                sidePagination: 'server',
                pageSize: 10,
                pageNumber: 1,
                singleSelect: false,
                search: false, //显示搜索框
                contentType: "application/x-www-form-urlencoded",
                queryParams: function(params) { //配置参数  
                    let temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的  
                        taskId: taskId,
                        pageNumber: (params.offset / params.limit) + 1,
                        pageSize: params.limit
                    };
                    return temp;
                },
                columns: [

                    {
                        title: '测试集序号',
                        field: 'testSuiteId',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '用例序号',
                        field: 'caseId',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '地址',
                        field: 'url',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '判断结果',
                        field: 'status',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '创建时间',
                        field: 'createTime',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '操作',
                        field: 'opear',
                        align: 'center',
                        formatter: function(value, row) {
                            let e = '<a  href="#" title="详细信息" onclick="openlayer(\'' +
                                row.id +
                                '\')">查看</a> ';
                            return e;
                        }
                    }
                ]
            });
    })
    </script>
    <script src="js/layer_v2.1/layer/layer.js"></script>
    <script>
    function openlayer(id) {
        layer.open({
            type: 2,
            title: '验证信息',
            shadeClose: true,
            shade: 0.5,
            skin: 'layui-layer-rim',
            //            maxmin: true,
            closeBtn: 1,
            area: ['100%', '100%'],
            shadeClose: true,
            closeBtn: 1,
            content: 'assertResultDetail?id=' + id
            //iframe的url
        });
    }
    </script>
</body>

</html>