<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/froala_editor.min.css" rel="stylesheet" type="text/css">
</head>

<body style="background-color: #e6ecf5">
    <div class="book_con01">
        <h1 class="book_h01">如何开始</h1>
        <p class="book_p">step1：维护测试环境域名：点击环境管理——新增——填写环境信息提交</p>
        <p class="book_p">step2：维护接口api：点击接口管理——新增——填写接口信息提交</p>
        <p class="book_p">step3：维护用例信息：点击用例管理——新增——填写用例信息提交</p>
        <p class="book_p">step4：维护测试集信息：点击测试集管理——新增测试集信息——点击用例管理添加该测试集所需的用例及执行信息</p>
        <p class="book_p">step5：维护任务信息：点击任务管理——新增执行任务信息——点击测试集管理添加该任务所需的测试集等信息——点击开启，等待执行</p>
        </p>
    </div>
</body>

</html>