<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html" ; charset="utf-8" />
    <title></title>
    <link href="css/all.css" rel="stylesheet" type="text/css">
    <link href="js/bstable/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="js/bstable/css/bootstrap-table.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/froala_editor.min.css" rel="stylesheet" type="text/css">
    <link href="js/editor/css/input-autocomplete.css" rel="stylesheet" />
    <style>
        .input-default {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px; /*html5*/
    text-indent: 0 !important;
    min-height: 22px;
}
</style>
</head>

<body>
    <div class="div_find">
        <p>
            <label id="productProjectIdStr" class="find_labela"></label> <label id="productProjectNameStr" class="find_labela"></label> <input id="productProjectId" name="productProjectId" type="hidden">
            <label class="find_labela">测试集号：</label><input id="testSuiteId" name="testSuiteId" type="text" class="find_input"> <label class="find_labela">测试集名：</label><input id="testSuiteName" name="testSuiteName" type="text" class="find_input"> <input type="button" value="搜索" class="find_but" id="search_btn"> <input type="button" value="重置" class="find_but" id="clean_btn"> <input type="button" id="Return" class="find_but" value="返回产品列表" />
        </p>
    </div>
    <div class="div_find">
        <p id="normal_p" class="p_but">
            <i class="add_i"></i><a href="javascript:void(0)" onclick="addProductProjectWithSuite()" class="add_a">新增</a> <i class="del_i"></i><a href="javascript:void(0)" onclick="DeleteByIds()" class="add_a">删除</a> <input type="button" id="addToTask" class="find_but" value="添加到任务" />
        </p>
        <label id="taskId_lable" class="find_labela" style="display: none">任务号：</label><input id="taskId" name="taskId" type="text" class="find_input" autocomplete="off" style="display: none"> <label id="taskName_lable" class="find_labela" style="display: none">任务名：</label><input id="taskName" name="taskName" type="text" class="find_input" autocomplete="off" style="display: none"> <input type="button" id="toAddToTask" class="find_but" value="确定" style="display: none" /><input type="button" id="cancel" class="find_but" value="关闭" style="display: none" />
    </div>
    <table id="table" class="table_style" style="margin: 0 auto">
    </table>
    </p>
    <script src="js/jquery/jQuery-2.2.0.min.js"></script>
    <script src="js/bstable/js/bootstrap.min.js"></script>
    <script src="js/bstable/js/bootstrap-table.js"></script>
    <script src="js/bstable/js/bootstrap-table-zh-CN.min.js"></script>
    <script src="js/editor/js/input-autocomplete.js"></script>
    <script type="text/javascript">
    $(function() {
        let url = decodeURI(window.location.search);
        let value;
        if (url.indexOf("?") != -1) {
            let strs = url.substr(1).split("&");
            value = new Array(strs.length);
            for (i = 0; i < strs.length; i++) {
                value[i] = unescape(strs[i].split("=")[1]);
            }
        }
        let productProjectId = value[0];
        $("#productProjectId").val(productProjectId);
        $("#productProjectIdStr").text("产品序号：" + productProjectId);
        $.ajax({
            type: 'post',
            url: "toQueryProductProject",
            cache: false,
            data: {
                "id": productProjectId
            },
            success: function(data) {
                if (data != null) {
                    $("#productProjectNameStr").text("产品名：" + data.name);
                }
            },
            error: function() {
                alert("查询失败")
            }
        });

        $('#table')
            .bootstrapTable({
                method: "get",
                url: "toQueryProductProjectWithSuites",
                striped: true,
                dataType: "json",
                pagination: true, //分页
                cache: false,
                sidePagination: 'server',
                pageSize: 10,
                pageNumber: 1,
                singleSelect: false,
                search: false, //显示搜索框
                contentType: "application/x-www-form-urlencoded",
                queryParams: function(params) { //配置参数  
                    let temp = { //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的  
                        testSuiteName: $("#testSuiteName").val(),
                        testSuiteId: $("#testSuiteId").val(),
                        productProjectId: productProjectId,
                        pageNumber: (params.offset / params.limit) + 1,
                        pageSize: params.limit
                    };
                    return temp;
                },
                columns: [{
                        title: "全选",
                        checkbox: true,
                        field: 'check',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: "测试集序号",
                        field: 'testSuiteId',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '测试集名',
                        field: 'testSuiteName',
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        title: '操作',
                        field: 'opear',
                        align: 'center',
                        formatter: function(value, row) {
                            let e = '<a  href="#" title="测试集信息" onclick="testSuiteInfo(\'' +
                                row.testSuiteId + '\')">编辑</a> <a  href="#" title="测试集用例信息" onclick="testCaseInfo(\'' +
                                row.testSuiteId + '\')">用例管理</a>';
                            return e;
                        }
                    }
                ]
            });
    });

    $('#search_btn').click(function() {
        $('#table').bootstrapTable('refresh', {
            url: 'toQueryProductProjectWithSuites'
        });
    })
    $('#clean_btn').click(function() {
        $('#testSuiteName').val("");
        $('#testSuiteId').val("");
    });


    $("#Return").click(function() {
        window.location.href = "productProjectList";
    });


    $("#addToTask").click(function() {
        $("#taskId_lable").show();
        $("#taskId").show();
        $("#taskName_lable").show();
        $("#taskName").show();
        $("#toAddToTask").show();
        $("#cancel").show();
        $("#normal_p").hide();

    });


    $("#cancel").click(function() {
        $("#taskId_lable").hide();
        $("#taskId").hide();
        $("#taskName_lable").hide();
        $("#taskName").hide();
        $("#toAddToTask").hide();
        $("#cancel").hide();
        $("#normal_p").show();

    });
    </script>
    <script>
    $("#toAddToTask").click(function() {
        let ids = new Array();
        let taskId = $("#taskId").val();
        let rows = $("#table").bootstrapTable('getSelections');
        if (rows.length <= 0) {
            alert("请选中一行")
        } else {
            for (let i = 0; i < rows.length; i++) {
                ids.push(rows[i].testSuiteId);
            }
            let url = "toAddTaskWithTestSuites";
            $.ajax({
                traditional: true, //这使json格式的字符不会被转码
                data: {
                    "taskId": taskId,
                    "ids": ids
                },
                type: "post",
                url: url,
                success: function(data) {
                    if (data) {
                        $("#cancel").click();
                        alert("提交成功！");
                    } else
                        alert("数据错误");
                },
                error: function(data) {
                    alert("提交失败！");
                }
            });
        }


    })


    function DeleteByIds() {
        let ids = new Array();
        let rows = $("#table").bootstrapTable('getSelections');
        if (rows.length <= 0) {
            alert("请选中一行")
        } else {
            for (let i = 0; i < rows.length; i++) {
                ids.push(rows[i].id);
            }
            let url = "toDelProductProjectWithSuite";
            $.ajax({
                traditional: true, //这使json格式的字符不会被转码
                data: {
                    "ids": ids,
                },
                type: "post",
                url: url,
                success: function(data) {
                    if (data) {
                        alert("提交成功！");
                        $('#table').bootstrapTable('refresh', {
                            url: 'toQueryProductProjectWithSuites'
                        });
                    } else
                        alert("数据错误");
                },
                error: function(data) {
                    alert("提交失败！");
                }
            });
        }
    }
    </script>
    <script>
    $("#taskName").bigAutocomplete({
        url: 'queryTaskByName',
        title: 'name',
        custom: false,
        formatItem: function(data, i, row) {
            return row.name + " " + row.id;
        },
        formatSelected: function(data, i, row) {
            return row.name;
        },
        callback: function(row) {
            if (null != row) {
                $("#taskId").val(row.id);
            }
        },
    });

    $("#taskId").bigAutocomplete({
        url: 'queryTaskById',
        title: 'name',
        custom: false,
        formatItem: function(data, i, row) {
            return row.id + " " + row.name;
        },
        formatSelected: function(data, i, row) {
            return row.id;
        },
        callback: function(row) {
            if (null != row) {
                $("#taskName").val(row.name);
            }
        },
    });
    </script>
    <script src="js/layer_v2.1/layer/layer.js"></script>
    <script>
    function testSuiteInfo(id) {
        layer.open({
            type: 2,
            title: '测试集信息',
            shadeClose: true,
            shade: 0.5,
            skin: 'layui-layer-rim',
            //maxmin: true,
            closeBtn: 1,
            area: ['98%', '92%'],
            shadeClose: true,
            content: 'queryTestSuite?id=' + id
            //iframe的url
        });
    }

    function testCaseInfo(id) {
        layer.open({
            type: 2,
            title: '测试集用例信息',
            shadeClose: true,
            shade: 0.5,
            skin: 'layui-layer-rim',
            //            maxmin: true,
            closeBtn: 1,
            area: ['100%', '100%'],
            shadeClose: true,
            content: 'queryTestSuiteWithCase?testSuiteId=' + id
            //iframe的url
        });
    }

    function addProductProjectWithSuite() {
        let productProjectId = $("#productProjectId").val();
        layer.open({
            type: 2,
            title: '添加测试集',
            shadeClose: true,
            shade: 0.5,
            skin: 'layui-layer-rim',
            //            maxmin: true,
            closeBtn: 1,
            area: ['100%', '100%'],
            shadeClose: true,
            content: 'addProductProjectWithSuite?productProjectId=' + productProjectId,
            end: function() {
                $('#table').bootstrapTable('refresh', {
                    url: 'toQueryProductProjectWithSuites'
                });
            }

            //iframe的url
        });
    }
    </script>
</body>

</html>